$cor_roxa: #835afd;

.room-code {
  height: 40px;
  border-radius: 8px;
  overflow: hidden;

  background: #fff;
  border: 1px solid $cor_roxa;
  cursor: pointer;
  display: flex;

  div {
    background-color: $cor_roxa;
    padding: 6px 12px;
    display: inline-block;
    height: 100%;

    img {
      height: 100%;
    }
  }

  span {
    display: block;
    align-self: center;
    padding: 0 16px 0 12px;
    flex: 1;
    width: 230px;
    font-size: 14px;
    font-weight: 500;
  }
}


